<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="myvar" value="myvalue"/>

  <targets>
    <target xsi:type="File" name="jsonfile" fileName="${basedir}/logs/subscriptionManagement-${shortdate}.json">
      <layout xsi:type="JsonLayout" escapeForwardSlash="false">
        <attribute name="time" layout="${longdate}"/>
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="processtime" layout="${processtime:invariant=false}"/>
        <attribute name="hostname" layout="${hostname}"/>
        <attribute name="local_ip" layout="${local-ip}"/>
        <attribute name="request_ip" layout="${aspnet-request-ip}"/>
        <attribute name="traceId" layout="${aspnet-TraceIdentifier:ignoreActivityId=true}"/>
        <attribute name="url" layout="${aspnet-request-url:IncludeQueryString=true}"/>
        <attribute name="action" layout="${aspnet-mvc-action}"/>
        <attribute name="name_space" layout="${callsite}"/>
        <attribute name="useragent" layout="${aspnet-request-useragent}"/>
        <attribute name="isAuthenticated" layout="${aspnet-user-isAuthenticated}"/>
        <attribute name="sub" layout="${aspnet-user-claim:sub}"/>
        <attribute name="message" layout="${message}"/>
        <attribute name="exception" layout="${exception:format=tostring}"/>
        <attribute name="body" layout="${aspnet-request-posted-body}"/>

        <attribute name="formdata" layout="${aspnet-request-form:OutputFormat=JSON}"/>
      </layout>
    </target>

    <target xsi:type="Debugger" name="debugger" layout="${longdate} | ${uppercase:${level}} | ${callsite} | ${message} | ${exception:format=tostring}"/>

  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="jsonfile" />
    <logger name="*" minlevel="Info" writeTo="debugger" />
  </rules>
</nlog>